{% load staticfiles %}
    <html>
        <head>
            <title>
                {% block title %}
                {% endblock %}
            </title>
            <!--
            <link rel="shortcut icon" href="../../static/img/icon.png" type="image/x-icon">
            -->
            <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon">

            <meta charset="UTF-8" />

            <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

            <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

            <link rel="stylesheet" href="{% static 'css/blog.css' %}">

            <link href='https://fonts.googleapis.com/css?family=Merriweather&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
            <!-- 28.05.2016 Google Maps for Contacts.html -->
            <script src="http://maps.googleapis.com/maps/api/js">
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
            <!-- 19.06.2016 Social networks for footer -->
            <!--Pulling Awesome Font -->
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

            {% block js_script %}
            {% endblock %}

            {% block css_script %}
            {% endblock %}
            <!--<script>
                var MyCenter=new google.maps.LatLng(47.8606485,35.1020754);
                function initialize() {
                    var mapProp = {
                        center: MyCenter,
                        zoom:17,
                        mapTypeId:google.maps.MapTypeId.ROADMAP
                    };
                    var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
                    // marker 
                    var marker=new google.maps.Marker({
                            position:MyCenter,
                        });
                    marker.setMap(map);
                }
            google.maps.event.addDomListener(window, 'load', initialize);
            </script>
            input in HTML template :
            <div id="googleMap" style="width:500px;height:380px;"></div> 
            -->


            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                    crossorigin="anonymous"></script>

        </head>

        <body>

            <!--New header 19 may 2016 Mukas Alexander -->
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container container-fluid">
                    <div class="navbar-header">
                        
                        <a class="navbar-brand" href="/"><img class="logo" src="{% static "img/logo2.png" %}" alt="лого">
                        </a>
                    </div>

                    <!--
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#">Новости</a></li>
                            <li><a href="#">О проекте</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                   /.nav-collapse -->
                          
                    <ul class="nav navbar-nav">
                            
                        <li {% block act1 %} {% endblock %}> <a href="{% url 'post_list' %}">Новости</a></li> class="active"
                        <li {% block act2 %} {% endblock %}> <a href="{% url 'contacts' %}">Контакты</a></li>
                        <li {% block act3 %} {% endblock %}> <a href="{% url 'about' %}">О проекте</a></li>
                        <li {% block act4 %} {% endblock %}> <a href="/admin/data/">База данных</a></li>        
                        
                    </ul>
                        
                    <!--22.05.2016 Добавил авторизацию пользователей -->
                    <ul class="nav navbar-nav navbar-right">
                        {% if username %}
                            <li>
                                <a href="{% url 'logout' %}">Привет {{ username }},
                                    <span class="glyphicon glyphicon-log-out"></span>Выйти?</a>
                            </li>

                        {% else %}

                            <li>
                                <a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Регистрация</a>
                            </li>
                            <li>
                                <a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Войти</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            <!--/.container-fluid -->
            </nav>

    		<!--Переменную posts мы добавляли с blog/views.py -->
    		
    		<div class="content container">
        		<div class="row">
                    <!--<div class="col-md-8">-->
            		<div class="col-md-12">


                        <!--
                		{% for post in posts %}
                    		<div class="post">
                        		<div class="date">
                            		{{ post.published_date }}
                        		</div>
                        		<h1><a href="">{{ post.title }}</a></h1>
                        		<p>{{ post.text|linebreaks }}</p>
                    		</div>
                		{% endfor %}
                        -->
                        {% block content %}
                        {% endblock %}

                        {% block login%}
                        {% endblock %}
            		</div>
        		</div>
    		</div>

            <div class="footer">
                <div class="copyright col-md-4">
                    <div class="copy">
                        Copyright © 2016 Aircraft.<br />
                        СП-14о - Александр Мукась 
                    </div>


                </div>
                <div class="col-md-4 django-ico">
                    <a href="https://www.djangoproject.com/">
                        <img src="https://www.djangoproject.com/s/img/badges/djangopowered126x54.gif" alt="Django">
                    </a>
                </div>


                <div class="col-md-4">
                    <ul class="social-network social-circle">
                        <li><a href="https://github.com/AlexanderMukas/my-first-blog" class="icoGithub social" title="Github">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li><a href="https://www.facebook.com/Mukas.Alexander" class="icoFacebook social" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li><a href="https://twitter.com/OlexanderMukas" class="icoTwitter social" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li><a href="https://plus.google.com/u/0/102638399922448926793" class="icoGoogle social" title="Google +">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li><a href="https://ua.linkedin.com/in/alexander-mukas-663a69b4" class="icoLinkedin social" title="Linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>               
                </div>
                <!-- <h4>Django 1.8 by Alexander Mukas Blog</h4> -->

            </div>

        </body>
    </html>