{% load staticfiles %}
    <html>
        <head>
            <title>
                {% block title %}
                {% endblock %}
            </title>
            <!--
            <link rel="shortcut icon" href="../../static/img/icon.png" type="image/x-icon">
            -->
            <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon">

            <meta charset="UTF-8" />

            <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

            <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

            <link rel="stylesheet" href="{% static 'css/blog.css' %}">

            <link href='https://fonts.googleapis.com/css?family=Merriweather&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
            <!-- 28.05.2016 Google Maps for Contacts.html -->
            <script src="http://maps.googleapis.com/maps/api/js">
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
            <!-- 19.06.2016 Social networks for footer -->
            <!--Pulling Awesome Font -->
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

            {% block js_script %}
            {% endblock %}

            {% block css_script %}
            {% endblock %}
            <!--<script>
                var MyCenter=new google.maps.LatLng(47.8606485,35.1020754);
                function initialize() {
                    var mapProp = {
                        center: MyCenter,
                        zoom:17,
                        mapTypeId:google.maps.MapTypeId.ROADMAP
                    };
                    var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
                    // marker 
                    var marker=new google.maps.Marker({
                            position:MyCenter,
                        });
                    marker.setMap(map);
                }
            google.maps.event.addDomListener(window, 'load', initialize);
            </script>
            input in HTML template :
            <div id="googleMap" style="width:500px;height:380px;"></div> 
            -->


            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                    crossorigin="anonymous"></script>

        </head>

        <body>

            <!--New header 19 may 2016 Mukas Alexander -->
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container container-fluid">
                    <div class="navbar-header">
                        
                        <a class="navbar-brand" href="/"><img class="logo" src="{% static "img/logo2.png" %}" alt="лого">
                        </a>
                    </div>

                    <!--
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#">Новости</a></li>
                            <li><a href="#">О проекте</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                   /.nav-collapse -->
                          
                    <ul class="nav navbar-nav">
                            
                        <li {% block act1 %} {% endblock %}> <a href="{% url 'post_list' %}">Новости</a></li> class="active"
                        <li {% block act2 %} {% endblock %}> <a href="{% url 'contacts' %}">Контакты</a></li>
                        <li {% block act3 %} {% endblock %}> <a href="{% url 'about' %}">О проекте</a></li>
                        <li {% block act4 %} {% endblock %}> <a href="/admin/data/">База данных</a></li>        
                        
                    </ul>
                        
                    <!--22.05.2016 Добавил авторизацию пользователей -->
                    <ul class="nav navbar-nav navbar-right">
                        {% if username %}
                            <li>
                                <a href="{% url 'logout' %}">Привет {{ username }},
                                    <span class="glyphicon glyphicon-log-out"></span>Выйти?</a>
                            </li>

                        {% else %}

                            <li>
                                <a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Регистрация</a>
                            </li>
                            <li>
                                <a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Войти</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            <!--/.container-fluid -->
            </nav>

    		<!--Переменную posts мы добавляли с blog/views.py -->
    		
    		<div class="content container">
        		<div class="row">
                    <!--<div class="col-md-8">-->
            		<div class="col-md-8">


                        {% block content %}
                        {% endblock %}

                        {% block login%}
                        {% endblock %}
            		</div>
                    <div class="post col-md-4">
                        <h2 style="text-align: center;">Полезные ссылки</h2>
                        <div class="list-group">
                            <a href="#" class="list-group-item disabled" style="text-align: center;">
                                Aircraft News:
                            </a>
                            <a href="http://www.avianews.com" class="list-group-item" target="_blank">Новости авиации Украины</a>
                            <a href="http://www.wing.com.ua" class="list-group-item" target="_blank">Крылья - Все об украинской авиации</a>
                            <a href="http://www.aviation.com.ua" class="list-group-item" target="_blank">Украинский Авиационный Портал</a>
                            <a href="http://airticketua.com/news/" class="list-group-item" target="_blank">Авиановости Украины - Авиабилеты</a>
                        </div>
                        <h2 style="text-align: center;">Про технологии</h2>
                        <div class="list-group">
                            <a href="#" class="list-group-item disabled" style="text-align: center;">
                                Technology News:
                            </a>
                            <a href="https://www.ukr.net/ua/news/tehnologii.html" class="list-group-item" target="_blank">ukr.net/ua -Технологии во всем мире</a>
                            <a href="http://gagadget.com/news/" class="list-group-item" target="_blank">Портал Gagadget о технологиях</a>
                            <a href="http://www.dailytechinfo.org/infotech/" class="list-group-item" target="_blank">DailyTechInfo - Новости науки и технологий</a>
                            <a href="http://delo.ua/tech/" class="list-group-item" target="_blank">Delo.ua - Деловой информационно-новостной сайт</a>
                        </div>
                        <h2 style="text-align: center;">Про Web-dev</h2>
                        <div class="list-group">
                            <a href="#" class="list-group-item disabled" style="text-align: center;">
                                Web-developing :
                            </a>
                            <a href="http://www.w3schools.com" class="list-group-item" target="_blank">W3Schools Online Web Tutorials</a>
                            <a href="https://learnxinyminutes.com" class="list-group-item" target="_blank">Learn X in Y Minutes: Scenic Programming Language Tours</a>
                            <a href="https://www.djangopackages.com" class="list-group-item" target="_blank">Django Packages : Reusable apps, sites and tools directory</a>
                            <a href="https://www.lynda.com/Web-training-tutorials/88-0.html" class="list-group-item" target="_blank">Lynda.com: Online Video Tutorials, Training</a>
                        </div>
                        <h2 style="text-align: center;">Про Python(Django)</h2>
                        <div class="list-group">
                            <a href="#" class="list-group-item disabled" style="text-align: center;">
                                Python / Django sites:
                            </a>
                            <a href="http://pythonworld.ru" class="list-group-item" target="_blank">Python 3 для начинающих и чайников - уроки программирования</a>
                            <a href="http://www.tutorialspoint.com/execute_python_online.php" class="list-group-item" target="_blank">Python online executer</a>
                            <a href="http://www.tutorialspoint.com/django/" class="list-group-item" target="_blank">TutorialsPoint - Online tutorial database</a>
                            <a href="https://www.youtube.com/user/CodingEntrepreneurs/videos" class="list-group-item" target="_blank">Youtube chanel of "CodingEntrepreneurs"</a>
                        </div>
                    </div>

        		</div>
    		</div>

            <div class="footer">
                <div class="copyright col-md-4">
                    <div class="copy">
                        Copyright © 2016 Aircraft.<br />
                        СП-14о - Александр Мукась 
                    </div>


                </div>
                <div class="col-md-4 django-ico">
                    <a href="https://www.djangoproject.com/">
                        <img src="https://www.djangoproject.com/s/img/badges/djangopowered126x54.gif" alt="Django">
                    </a>
                </div>


                <div class="col-md-4">
                    <ul class="social-network social-circle">
                        <li><a href="https://github.com/AlexanderMukas/my-first-blog" class="icoGithub social" title="Github" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li><a href="https://www.facebook.com/Mukas.Alexander" class="icoFacebook social" title="Facebook" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li><a href="https://twitter.com/OlexanderMukas" class="icoTwitter social" title="Twitter" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li><a href="https://plus.google.com/u/0/102638399922448926793" class="icoGoogle social" title="Google +" target="_blank">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li><a href="https://ua.linkedin.com/in/alexander-mukas-663a69b4" class="icoLinkedin social" title="Linkedin" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>               
                </div>
                <!-- <h4>Django 1.8 by Alexander Mukas Blog</h4> -->

            </div>

        </body>
    </html>