{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block title %}
Контакты
{% endblock %}

{% block js_script %}
<script>
	var MyCenter=new google.maps.LatLng(47.8606485,35.1020754);
    function initialize() {
    	var mapProp = {
        	center: MyCenter,
            zoom:17,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
        // marker 
        var marker=new google.maps.Marker({
            position:MyCenter,
        });
        marker.setMap(map);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

{% block act1 %} {% endblock %}
{% block act2 %} class="active" {% endblock %}
{% block act3 %} {% endblock %}
{% block act4 %} {% endblock %}

{% block content %}
    <div class="cont-page">
        <h1>Адрес:</h1>
        <p>69006 г. Запорожье, пр. Соборный, 226</p>
        <p>Тел.: (061) 236-90-34</p>
        <p>Email : <a href="mailto:youremailaddress">admin@zgia.zp.ua</a></p>
        <p>Сайт : <a href="http://www.zgia.zp.ua"> zgia.zp.ua</a> </p> 
        <br >
        <div id="googleMap" style="width: auto;height:380px; text-align: center;"></div>        
    </div> 
{% endblock content %}