{% extends 'blog/base.html' %}    
{% load staticfiles %}

{% block title %}
Aircraft Blog - Новости
{% endblock %}

{% block act1 %} class="active" {% endblock %}
{% block act2 %} {% endblock %}
{% block act3 %} {% endblock %}
{% block act4 %} {% endblock %}

{% block content %} 
	{% for post in posts %}
		<div class="post pagination-centered">
			<div class="date" id="datetimepicker1">
				{{ post.published_date }}
				<hr>
			</div>
			<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
			<p>{{ post.get_short_text|linebreaks }}</p>
		</div>
	{% endfor %}
{% endblock content %}
