    <html>
        <head>
            <title>Django 1.8 blog</title>
            <meta charset="UTF-8" />
        </head>
        <body>
        
            <div>
        		<h1><a href="/">Django 1.8 by Alexander Mukas Blog</a></h1>
    		</div>
    		<!--Переменную posts мы добавляли с blog/views.py -->
    		{% for post in posts %}
        		<div>
            		<p>Опубликовано: {{ post.published_date }}</p>
            		<h1><a href="">{{ post.title }}</a></h1>
            		<p>{{ post.text|linebreaks }}</p>
        		</div>
    		{% endfor %}
        </body>
    </html>