h1 a {
        color: #00b359;
        font-family: 'Merriweather', serif;
    }
body {
        /*padding-left: 15px;*/
    	
        background-image: url("../img/footer.png");
        background-repeat: repeat;

            /* stiky footer*/
        height: 100%;
            /*end stiky footer*/
        /*
        background-image:url('{{ STATIC_URL }} img/bgfull.jpg');
        background-repeat:no-repeat;
		background-size:100%;
		*/
    }

.copy{
    padding: 5px;
    font-size: 16px;
    text-align: center;
    color: #aeaeae;
}

.logo{
    height:120%;
}
.navbar-brand {
    height: 80px;
}

.nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.navbar {
    background-image: url("../img/header.png");
    background-repeat: repeat;

}




.footer {
    border-top: 1px solid #eee;
        /* stiky footer*/
    height: 60px;
    /*
        end stiky footer
    text-align: center;*/
    background-image: url("../img/header.png");
    background-repeat: repeat;
    padding: 5px;
}

.footer h4, .footer h4 a, .footer h4 a:visited, .footer h4 a:active {
        color: #ffffff;
        font-size: 16pt;
        text-decoration: none;

        margin: auto;
    }


.page-header {


        background-image: url("../img/header.png");
        background-repeat: repeat;
        /*
        background-color: #006bb3;
        */
        margin-top: 0;
        padding: 20px 20px 20px 20px;

        text-align: center;
    }

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        text-decoration: none;

        margin: auto;
    }

.content {
    /*margin-left: 40px;
    margin: auto;
    padding: 20px 20px 20px 20px;
    */

    /* 19 may 2016 - background mail block*/
    border-radius: 10px;
    background-image: url("../img/main.png");
    background-repeat: repeat;

    /* stiky footer*/
    
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 20px 20px 60px;

    /*end stiky footer*/

}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
.date {
    float: right;
    color: #828282;
}
.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    /*margin-right: 20px;*/
}

.post, .comments {

	 /**/
    border-radius: 0 10px;

    margin-bottom: 40px;
    
    background-image: url("../img/posts.png");
    background-repeat: repeat;

    /*
    background-color:rgba(179,240,255,0.5);
    background-color: #e1e1ea;*/
    
    padding: 20px 20px 20px 20px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*
.comments {

    border-radius: 0 10px;

    margin-bottom: 70px;
    
    background-color:rgba(179,240,255,0.5);

    padding: 20px 20px 20px 20px;
}
*/

.post h1 a, .post h1 a:visited {
    color: #000000;
}

/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
   

    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {

    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoGithub:hover {
    background-color: #444444;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoGithub:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social a {
 background-color: #D3D3D3;   
}

.django-ico {
    padding: 5px;
    text-align: center;
}
.django-ico a:hover .triggeredHover {
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3); 
 -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3); 
 box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1); 
}
.django-ico img {
    
    width: 100px;
    height: 40px;
}

/*=========================
  Paginator
 ================= */
.pagination>.active>a {

    border: 0;
    background-color: #404040;

}
.pag-box {
    text-align: center;
}
.pagination>li>a {
    color: #505050;
}
/*=========================
  Button in Post
 ================= */
.Details {
    text-align: right;
}
.btn-custom {
    
    background-color: hsl(0, 0%, 16%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
    background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
    background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
    background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
    background-image: -o-linear-gradient(top, #5b5b5b, #282828);
    background-image: linear-gradient(#5b5b5b, #282828);
    border-color: #282828 #282828 hsl(0, 0%, 11%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}