{% extends 'blog/base.html' %}

{% block login %}
<!--	
<form action="/auth/login/" method="POST">
	{% csrf_token %}
	<p>Login new</p> 
-->

	<!-- Username 
	<label for="username">Username</label>
	<input type="text" id="username" name="username" >
	-->
	 <!-- Password
	<label class="control-label" for="password">Password</label>
	<input type="password" id="password" name="password" >
	-->
	<!-- if Error
	{% if login_error %}
		<label class="error">  {{ login_error }} </label>
	{% endif %}
	-->
	<!-- Button 
	<p><input type="submit"></p>
</form>
	-->
<div class="loginbox" align="center" >
    <div class="row">
		<div class="span12">	
			<form class="form-horizontal" action="/auth/login/" method="POST">
			{% csrf_token %}
			  <fieldset>
			    <div id="legend">
			      <legend class="">Вход:</legend>
			    </div>
			    <div class="control-group">
			      <!-- Username -->
			      <label class="control-label"  for="username">Имя пользователя:</label>
			      <div class="controls">
			        <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
			      </div>
			    </div>
			    <div class="control-group">

			      <!-- Password-->
			      <label class="control-label" for="password">Пароль :</label>
			      <div class="controls">
			        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
			      </div>
			    </div>

			    <!-- if Error-->
				{% if login_error %}
					<label class="error">  {{ login_error }} </label>
				{% endif %}
				
			    <div class="control-group">
			      <!-- Button -->
			      <br />
			      <div class="controls">
			        <button class="btn btn-success"> <span class="glyphicon glyphicon-ok"></span> Войти</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>








{% endblock %}